/* importation de la police 'Poppins' de Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

html, body{
   font-family: 'Poppins', sans-serif;
}

body{
   margin: 0;
}

nav img{
   width: 100px;
   height: 100px;
   border-radius: 100%;
}
nav{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 8px;
   background-color: #c38ff5;
}
li{
   list-style-type: none;
}
ul{
   display: flex;
   gap: 30px;
}
nav div{
   display: flex;
   gap: 20px;
}

main img{
   width: 50%;
   height: 50%;
   object-fit: cover;
}
#cards{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 20px;
}


/* CARTE */
.carte{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: sans-serif;
   gap: 5px;
   border-radius: 16px;
   overflow: hidden;
   -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24); 
   box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24);
   padding: 16px;
   transition: all 1s ease-in-out;
   width: 25%;
}

.carte img{
   width: 100%;
   height: 300px;
   object-fit: cover;
}

.carte:hover{
   transform: scale(1.1);
}

h1{
   text-align: center;
}

.bouton{
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 8px;
   text-decoration: none;
   padding: 8px 16px;
   width: fit-content;
   font-weight: 500;
   transition: all .3s ease-in-out;
}

.bouton.primaire{
   background: #8005F2;
   color: white;
}

.bouton.primaire:hover{
   background: #c38ff5;
}

.bouton.secondaire{
   background: transparent;
   color: #8005F2;
   border: 2px solid #8005F2;
}

.bouton.secondaire:hover{
   border: 2px solid #c38ff5;
   color: #c38ff5;;
}

/* Avatar */

.avatar{
   width: 80px;
   height: 80px;
   border-radius: 100%;
   border: 2px solid black;
   object-fit: cover;
}

/* Lien */

.lien{
   color: black;
   text-decoration: none;
   font-weight: 500;
   transition: all .3s ease-in-out;
}

.lien:hover{
   color: #8005F2;
}
